html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/main.css")
    body
        .wrapper
            h1
                | Contact Master
            section.addcontact-section.section
                h3 Dodaj kontakt
                form.add-contact-form(action='/addcontact' method='post')

                    label(for='name') Imie:

                    input#name(type='text' name='contactName' required='')

                    label(for='surname') Nazwisko:

                    input#surname(name='contactSurname' required='')

                    label(for='email') E-mail:

                    input#email(type='text' name='contactMail' required='')

                    label(for='contactStreetNumber') Ulica i nr domu:

                    input#contactStreetNumber(type='text' name='contactStreetNumber' required='')

                    label(for='zipcode') Kod pocztowy:

                    input#zipcode(type='text' name='contactZipCode' required='')

                    label(for='nameCity') Miasto:

                    input#nameCity(type='text' name='nameCity' required='')

                    button(type='submit' value='Submit') Dodaj kontakt