html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/main.css")
    body
        .wrapper
            h1
                | Contact Master
            h2
                | Coś poszło nie tak, spróbuj ponownie
            h2=message

            if message = "Sesja wygasła"
                a(href="/login")
                    button.log-button Zaloguj się ponownie