html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="main.css")
    body
        .wrapper
            h1
                | Contact Master
            h3
                | Łatwo zarządzaj swoimi kontaktami :)
            a(href="/login")
                button.log-button Zaloguj sie
            a(href="/register")
                button.log-button Zarejestruj się
