body {
    margin:0;
    background: #222;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}
button {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    font-size: medium;
}

.contacts-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact {
    color: #1a1a1a;
    width: 50%;
    background: #cbcbcb;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
}

.contact .name {
    width: 50%;
    padding: 50px;
}

.contact .email {
    width: 50%;
    padding: 10px;
}